// ACROM
@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-ExtraBold.woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Light.woff');
	font-weight: 300;
	font-style: normal;
}


// MONTSERRAT
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.woff');
	font-weight: 300;
	font-style: normal;
}