%acrom-regular {
  font-family: "Acrom", sans-serif;
  font-weight: 400;
}

%acrom-bold {
  font-family: "Acrom", sans-serif;
  font-weight: 700;
}

%acrom-extrabold {
  font-family: "Acrom", sans-serif;
  font-weight: 800;
}

%acrom-light {
  font-family: "Acrom", sans-serif;
  font-weight: 300;
}

%montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* TEXT PLACEHOLDERS*/
%text1420 {
  font-size: 14px;
  line-height: 20px;
}

%text1011 {
  font-size: 10px;
  line-height: 11px;
}

%text1421 {
  font-size: 14px;
  line-height: 21px;
}

%text1621 {
  font-size: 16px;
  line-height: 21px;
}

%text2430 {
  font-size: 24px;
  line-height: 30px;
}

%text2525 {
  font-size: 25px;
  line-height: 25px;
}

%text3025 {
  font-size: 30px;
  line-height: 25px;
}

%text3040 {
  font-size: 30px;
  line-height: 40px;
}

%text-article-title {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 30px;
  }
}

%text-section-title {
  font-size: 20px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: 1200px) {
    font-size: 48px;
    line-height: 60px;
  }
}

%text-section-button {
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
  }
}

%text-section-subtitle {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 1.364;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.167;
  }
}

%text-section-p {
  font-size: 14px;
  line-height: 1.571;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.375;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.944;
  }
}

%text-footer-link {
  font-size: 20px;
  line-height: 3;
}

%text-footer-decr {
  font-size: 14px;
  line-height: 4.286;
}

%text-counter-b2 {
  font-size: 50px;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 70px;
  }

  @media (min-width: 1200px) {
    font-size: 150px;
  }
}

%text-counter-b5 {
  font-size: 70px;
  line-height: 1.2;
}

%text-header-20 {
  font-size: 20px;
  line-height: 1.3;
}

%text-header-14 {
  font-size: 14px;
  line-height: 1.286;
}

%text-header-16 {
  font-size: 16px;
  line-height: 1.25;
}

%text-header-13 {
  font-size: 13px;
  line-height: 1.385;
}

%btn {
  display: block;
  width: 100%;
  border: none;
  height: 40px;
  background-color: $orange-btn;
  color: $white;
  cursor: pointer;
}

%input {
  width: 100%;
  height: 40px;
  border: 2px solid $grey-input;
  padding-left: 22px;
  color: $grey-text;
  margin: 5px 0;
}

%flex-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
