$black: #000;
$white: #fff;

$subblack: #1b202a;
$skyblue: #00eaff;
$orange: #f9ae23;
$orange-btn: #ff702a;
$grey-text: #5d6066;
$grey-text2: #fbfcfb;
$grey-text-bg: #222222;
$grey-bg: #edf0f2;
$grey-input: #696969;
 
