.block01 {
  // padding-top: 30px;
  // padding-bottom: 30px;
  margin-bottom: 30px;
}

.block01--title {
  padding-bottom: 30px;
  text-transform: none;
  @extend %acrom-bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1.75px;
}

.block01--list {
  @extend %acrom-regular;
}

.block01--items {
  list-style: none;
  position: relative;
}

.block01--item {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 17px;
    height: 15px; 
    top: 0;
    left: 0; 
    margin-top: 4px;

    background-image: url("../images/block1/arrow.png");  
      // background-image: url("../images/block1/arrow.svg"); 
    background-repeat: no-repeat
    
  }
}
