.block4 {
    background-image: url(../images/block4/blok4-background_IMG.png);
    background-position: center right;
    background-repeat: no-repeat; 
    background-size: contain;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/block4/blok4-background_IMG@2x.png);
    }
    background-color: #181c27;
    padding-bottom: 40px;
}
.block4__wrapper {
    text-align: left;
    letter-spacing: -1px;
    
}
.block4__title {
    @extend %acrom-extrabold;
    @extend %text-section-title;
    color: $skyblue;
    padding-bottom: 24px;
    padding-top: 28px;
}
.block4__subtitle {
    @extend %acrom-extrabold;
    @extend %text-section-subtitle;
    color: $white;
    margin-bottom: 50px;
    padding-top: 36px;
}
.block4__text {
    position: relative;
    @extend %text-section-p;
    @extend %acrom-regular;
    color: $white;
}
.block4__text--bold {
    font-weight: bold;
}
.block4__text::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 3px;
    top: -18px;
    width: 60px;
    background-color: $skyblue;
}
.block4__button {
    @extend %text-section-button;
    @extend %acrom-extrabold;
    color: $white;
    text-transform: uppercase;
    background-color: $orange-btn;
    outline: none;
    overflow: hidden;
    padding: 26px 18px;
    text-align: center;
    letter-spacing: -1px;
    border: none;
    cursor: pointer;

    &:focus {
        box-shadow: 0px 2px 10px 0px #ff6b08, 0px -2px 10px 0px #ff6b08;
    }
    &:hover {
        background-color: $skyblue;
        box-shadow: 0px 2px 10px 0px $skyblue, 0px -2px 10px 0px $skyblue;
    }
}
