@media (min-width: 768px) {
    .block4 {
        background-image: url(../images/block4/blok4-background_table.png);
        background-position: center right;
        background-repeat: no-repeat; 
        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/block4/blok4-background_table@2x.png);
        }
        padding-bottom: 60px;
        margin-bottom: 52px;
    }
    .block4__wrapper {
        padding-left: 75px;
        letter-spacing: normal;
    }
    .block4__title {
        padding-top: 56px;
        padding-bottom: 30px;
        max-width: 590px;
    }
    .block4__subtitle {
        max-width: 640px;
    }
    .block4__text {
        max-width: 395px;
    }
    .block4__button {
        padding: 26px 118px;
    }
 
}