@media (min-width: 1200px) {
    .block-3{
        display: flex;
        flex-wrap: wrap;
        &_headline{
            width: 460px;
            font-size: 48px;
            line-height: 60px;
            margin: 0px auto 0px 0px;
            margin-bottom: 60px;
                &-ew{
                    width: 400px;
                    font-size: 48px;
                    line-height: 60px;
                }
                &-2{
                    padding-top: 0px;
                }
        }
        &_outwrapper{
            margin: 0px auto 0px 0px;
        }
        &_list-3{
            width: 400px;
            margin-left: 0px;
        }
        &_wrapper-2{
            height: 475px;
            margin-bottom: 0px;
            margin-top: auto;
        }
        &_salary{
            margin-left: 40px;
        }
    }

 
}
.desktop_only{
    display: block;
}
.mb-tb_only{
    display: none;
}
