.Section_4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 320px;
  height: 7294px;
  z-index: 160;
}
.Сейчас_на_IT_ра_ынке {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 320px;
  height: 7294px;
  z-index: 159;
}
.Сейчас_на_IT_рынке_работы_намного_больше__чем_к {
  font-size: 14px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 30.053px;
  top: 3943.282px;
  width: 253px;
  height: 189px;
  z-index: 158;
}
.Прямоугольник_676_kопировать_3 {
  background-color: rgb(0, 234, 255);
  position: absolute;
  left: 31px;
  top: 3902px;
  width: 60px;
  height: 2px;
  z-index: 157;
}
.CTA_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 320px;
  height: 7294px;
  z-index: 153;
}
.ХОЧУ_УЗНАТЬ_СВОЙ_ПУТЬ_В_IT {
  font-size: 14px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 45.937px;
  top: 4242.1px;
  z-index: 152;
}
.Прямоугольник_5_копия {
  background-color: rgb(255, 112, 42);
  box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
  position: absolute;
  left: 30px;
  top: 4216px;
  width: 260px;
  height: 70px;
  z-index: 151;
}
.[_Узнай__как_именно__начнется_твой_путь_в_IT__] {
  font-size: 20px;
  font-family: "Acrom";
  color: rgb(0, 234, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 28.87px;
  top: 4166.198px;
  z-index: 149;
}
.Устал_растрачивать_свой__потенциал__работая_за_ {
  font-size: 16px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  position: absolute;
  left: 28.937px;
  top: 3817.553px;
  z-index: 148;
}
.Layer_316 {
  background-image: url("Layer 316.png");
  position: absolute;
  left: 0px;
  top: 3765px;
  width: 320px;
  height: 562px;
  z-index: 147;
}
.Rectangle_1 {
  background-color: rgb(24, 28, 39);
  position: absolute;
  left: 0px;
  top: 3765px;
  width: 320px;
  height: 562px;
  z-index: 146;
}
