header {
  background-color: $bgc;
  background-image: url(../images/header/bg_mobile@1x.png);
  background-position: center, center;
  background-size: cover, 100%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.header {
  width: 320px;
  margin: 0 auto;
}

.header__info {
  width: 260px;
  margin: 0 auto;
}

.header__logo {
  padding: 30px;
}

.header__text {
  width: 260px;
}

.header__title--prev {
  @extend%acrom-regular;
  @extend%text-header-14;
  color: $white;
  padding-bottom: 20px;
}

.header__title {
  @extend%acrom-extrabold;
  @extend%text-header-20;
  color: $skyblue;
  padding-bottom: 24px;
  letter-spacing: -1px;
}

.header__title--after {
  @extend%acrom-regular;
  @extend%text-header-14;
  color: $white;
  padding-bottom: 22px;
}

.header__title--invite {
  @extend%acrom-extrabold;
  @extend%text-header-14;
  color: $orange;
  margin-bottom: 15px;
}

.header__title--place {
  @extend%text-header-20;
}

.form {
  width: 260px;
  margin-bottom: 10px;
}

.form__bg {
  background-color: $white;
  box-shadow: 0px 12px 70px 0px rgba(121, 139, 188, 0.48);
}

.form__info {
  width: 225px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 26px;
}

.form__title {
  @extend%acrom-extrabold;
  @extend%text-header-16;
  text-align: left;
  padding-bottom: 10px;
}

.form__text {
  @extend%acrom-regular;
  @extend%text-header-13;
  margin-bottom: 5px;
  text-align: left;
} 

.input {
  @extend%flex-col;
  @extend%text-header-14;
  margin: 0 auto;
}

input {
  @extend%input;
  @extend%acrom-regular;
  color: $grey-input;
}

.form__btn {
  margin-top: 18px;
  @extend %btn;
  @extend %acrom-extrabold;
  @extend %text-header-btn;
  box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);

&:focus {
    box-shadow: 0px 2px 10px 0px #ff6b08, 0px -2px 10px 0px #ff6b08;
}
&:hover {
    background-color: $skyblue;
    box-shadow: 0px 2px 10px 0px $skyblue, 0px -2px 10px 0px $skyblue;
}
}
.form__link {
  display: block;
  @extend%acrom-regular;
  @extend%text-header-13;
  color: $grey-text;
  text-align: center;
  padding-bottom: 25px;
  margin-top: 10px;
}
