@media (min-width: 1200px) {

  .block5 {
    &__title {
      padding-left: 0;
    }

    &__wrapper { 
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__tender {
      flex-basis: 390px;
      max-width: 100%;
      margin: 0;
      margin-bottom: 56px;
    }

    &__partners {
      flex-basis: 652px;
      max-width: 100%;
      margin: 0;
    }

    &__awards {
      order: 0;
      flex-basis: 100%;

      &-title {
        margin-left: 0;
      }

      &-item {
        height: auto;
        flex-basis: 33.3333%;
        box-shadow: none; 

        &:before {
          z-index: 1;
          transform: rotate(-90deg);
          top: -50px;
        }
        
        background-position: calc(100% - 50px) calc(100% - 80px);

        // &--first { 
        //   background-position: calc(100% - 20px) bottom;
        // }
      
        // &--second {
        //   background-position: right + 10px bottom;
        // }
      
        // &--third {
        //   background-position: right bottom;
        // }  
      } 

      &-underlay, &-overlay {
        display: none;
      }

      &-content {
        padding: 0;
        max-width: 220px ;
      }
    }
  }

 
}